.contact-page .form{
  margin: 3em;
  padding: 1em;
}

.contact-page img {
  width: 200px;
  height: 200px;
  top: 0;
}

.contact-page input[type=text], select {
    width: 460px;
    padding: 12px 0px;   
    display: inline-block;
    border-style: none none solid none;
    box-sizing: border-box;
    background: transparent;
}
  
.contact-page input[type=submit] {
    width: 100px;
    background-color: #4CAF50;
    color: white;
    padding: 12px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
  }
  
  .contact-page input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .contact-page .fila {
    display: flex;
    flex-direction: row;  
   }


  .contact-page .fila input, .contact-page .fila select{
    margin-right: 2em;
    margin-bottom: 2em;
    margin-top: 1em;
  }
  
  .contact-page .col {
    flex-direction: column;
  }

  @media screen and (max-width: 1322px) and (min-width: 1001px) {
    .contact-page input[type=text], select {
      width: 300px;
      padding: 12px 0px;   
     
    }

    .contact-page .content {
      width: 700px;
    }
  } 

  @media screen and (max-width: 1001px) and (min-width: 800px) {

    .contact-page .content {
      width: 500px;
    }

  } 

  @media screen and (max-width: 800px) and (min-width: 400px) {

    .contact-page .content {
      width: 500px;
      margin-right: 2em;
    }

    .contact-page .fila input[type=text], .contact-page .fila select, .contact-page textarea {
      width: 100%;
      margin: 0.5em 0;
       
    }

    .contact-page img {
      width: 150px;
      height: 150px;
    }

    

    
  } 

 



 



 
  

  